.item-container {
  display: block;
  aspect-ratio: 1 / 1;

  border-radius: 1rem;
  border: 1px solid gray;

  background-color: white;

  margin: 0.5em;
}

.item-container:hover {
  transform: scale(1.03, 1.03);
  transition-duration: 0.2s;
}
/*--------------------------------*/
.gradient-border {
  --border-width: 1px;

  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 1rem;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/*--------------------------------*/

.item {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: inherit;
  background: white;
  border: 0px;
  padding: 0;
  font-size: x-large;
}

.bg-animation:hover {
  animation: gradient 15s ease infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 25% 25%;
  }
  40% {
    background-position: 25% 75%;
  }
  60% {
    background-position: 75% 25%;
  }
  80% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.h-end {
  display: flex;
  justify-content: flex-end;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------*/

.grid {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 1fr 3fr 1fr;
}

.header {
  grid-area: header;
  margin: 0 0.5em;
}

.content {
  grid-area: content;
  white-space: normal;
}

.footer {
  grid-area: footer;
  margin: 0.5em;
}

/*-----------------------------*/
.settings-dots {
  color: gray;
  cursor: default;
}

.settings-dots:hover {
  color: black;
}

.setings-container {
  position: relative;
}

.setings {
  position: absolute;
  top: 1em;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid gray;
  padding: 0;
  font-size: large;
  z-index: 10;
}

.setings ul {
  list-style: none;
  border-radius: inherit;
  padding: 0;
  margin: 0;
}

.setings ul li:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.setings ul li:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.setings ul li {
  display: block;
  padding: 0.5em;
  margin: 0;
  text-decoration: none;
}

.setings ul li:hover:not(.delete-btn) {
  background-color: lightgray;
  color: blue;
  cursor: pointer;
}

.setings ul li.delete-btn:hover {
  background-color: lightgray;
  color: red;
  cursor: pointer;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
