<div class="item-container"
    [routerLink]="['../../', 'test',  (item?.id || 0) ,{ outlets: { primary: ['settings'], nav: ['testmenunav'] } }]">
    <div class="item-backdrop">
        <div class="item grid" [ngStyle]="{'background': BgGradient,  'background-size': '800% 800%'}"
            (mouseleave)="isSettingsVisible = false">

            <div class="header h-end settings-container">
                <div class="settings" *ngIf="isSettingsVisible" [@flipInXOnEnter] [@flipOutXOnLeave]
                    (mouseleave)="isSettingsVisible = false">
                    <ul>
                        <li
                            [routerLink]="['../../', 'test',  (item?.id || 0) ,{ outlets: { primary: ['settings'], nav: ['testmenunav'] } }]">
                            Settings </li>
                        <li class="delete-btn" (click)="this.delete($event)"> Delete </li>
                    </ul>
                </div>
                <p class="settings-dots" (mouseover)="isSettingsVisible = !isSettingsVisible">...</p>

            </div>
            <div class="content center">
                <p>
                    {{Name}}
                </p>
            </div>
            <div class="footer h-end">
                <span class="badge" [ngClass]="LabelClasses" *ngIf="this.item">{{Label}}</span>
            </div>

        </div>
    </div>
</div>