$border-radius: 1rem;
$border-color: $bs-font-secondary;
$border-width: 1px;

@mixin border($width: $border-width, $color: $border-color, $radius: $border-radius) {
  border: $width solid $color;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
