$footer-color: $bs-bg-color;
$footer-height: 60px;

@mixin footer {
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $footer-color;
}

.sticky-footer {
  position: sticky;
  @include footer;
}

.fixed-footer {
  position: fixed;
  @include footer;
}

.footer-container {
  height: $footer-height;
}
