@import 'footer';
@import 'border';
@import 'pagination';
@import 'loader';
@import 'scrollbar';

.background {
  background-color: #ffffff;
  background: linear-gradient(135deg, #625f6555 25%, transparent 25%) -27px 0/ 54px 54px,
    linear-gradient(225deg, #625f65 25%, transparent 25%) -27px 0/ 54px 54px,
    linear-gradient(315deg, #625f6555 25%, transparent 25%) 0px 0/ 54px 54px,
    linear-gradient(45deg, #625f65 25%, #ffffff 25%) 0px 0/ 54px 54px;
}

/*---------------------------------*/
.h-start {
  display: flex;
  justify-content: flex-start;
}

.h-center {
  display: flex;
  justify-content: center;
}

.h-end {
  display: flex;
  justify-content: flex-end;
}

/*-----------------------------------*/

.warning-component {
  width: 100%;
  padding: 0;
}

/*---------------------------------*/

.invisible {
  opacity: 0;
  display: none !important;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
