<div class="page">
    <div class="header">
        <user-menu-nav-component></user-menu-nav-component>
    </div>

    <div class="outer menu-background content">
        <div class="menu-window">
            <router-outlet name="primary"></router-outlet>
        </div>
    </div>

    <div class="fixed-footer-container footer">
        <footer class="fixed-footer">
            <div class="container">
                <span class="text-muted">© Artem Poshukailo</span>
            </div>
        </footer>
    </div>
</div>