<div class="page">

    <div class="search h-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <button (click)="searchItems()" class="input-group-text" id="btnSearch">Search</button>
            </div>
            <input [(ngModel)]="searchLine" (ngModelChange)="onSearchLineEmpty()" id="searchLine" type="text"
                class="form-control" placeholder="Query">
        </div>
    </div>

    <div class="label h-center">
        <div *ngIf="!!this.testVariant">
            <p>Variant Number: {{this.testVariant?.number}}</p>
        </div>
    </div>

    <div class="alert-grid">
        <div class=" h-center">
            <alert-component [isVisible]="AlertBox.isVisible" (closeButtonPushed)="AlertBox.hideAlert()"
                class="warning-component" [message]="AlertBox.Message">
            </alert-component>
        </div>

        <div class=" h-center">
            <warning-component [isVisible]="WarningBox.isWarningVisible" (closeButtonPushed)="WarningBox.hideWarning()"
                class="col-12 warning-component" [message]="WarningBox.warningMessage">
            </warning-component>
        </div>
    </div>


    <div class="add">
        <div class="add-item gradient-border-hover">
            <button (click)="addQuestion()" class="add-btn" tabindex="-1">
                +
            </button>
        </div>
    </div>


    <div class="content-grid">
        <questions-list-item-component *ngFor="let item of itemsPaginated; let i = index" [item]="item"
            [Index]="(CurrentPage - 1) * NumberOfElemsOnPage + i" (deleteButtonPushed)="deleteItem($event)">
        </questions-list-item-component>
    </div>


</div>