@import '../../styles/styles.scss';

.page {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

/*-------------------------------------------------*/
.outer {
  /*display: grid;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-background {
  width: 100%;
  padding: 1em;
}

.menu-window {
  min-height: 100%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);

  @include border;

  margin: 1em;
}
