@import '../../styles/styles.scss';

.page {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: min-content auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
  padding: 1em 0;
}

/*-------------------------------------------------*/

.menu-background {
  width: 100%;
  padding: 1em;
}

.menu-window {
  height: 100%;
  width: 100%;

  @include bg-translucent;

  @include border;
}
