<div class="page">

    <div class="search h-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <button (click)="searchItems()" class="input-group-text" id="btnSearch">Search</button>
            </div>
            <input [(ngModel)]="searchLine" (ngModelChange)="onSearchLineEmpty()" id="searchLine" type="text"
                class="form-control" placeholder="Query">
        </div>
    </div>

    <div class="label h-center">
        <div *ngIf="!!this.testVariant">
            <p>Variant Number: {{this.testVariant?.number}}</p>
        </div>
    </div>

    <div class="alert-grid">
        <div class=" h-center">
            <div id="Alert" class="alert alert-danger col-12" #alertDiv hidden>
            </div>
        </div>

        <div class=" h-center">
            <warning-component [ngClass]="{visible: isWarningVisible, invisible: !isWarningVisible}"
                (closeButtonPushed)="hideWarning()" class="col-12 warning-component" [message]="warningMessage">
            </warning-component>
        </div>
    </div>


    <div class="add">
        <div class="item">
            <button (click)="addQuestion()" class="add-item" tabindex="-1">
                +
            </button>
        </div>
    </div>


    <div class="content-grid">
        <questions-list-item-component *ngFor="let item of itemsPaginated" [item]="item"
            (deleteButtonPushed)="deleteItem($event)">
        </questions-list-item-component>
    </div>


</div>