<div class="page">
    <div class="header">
        <div class="h-center">
            <h4>Settings</h4>
        </div>
        <hr />

        <div class="col-12 h-center">
            <info-component [isVisible]="InfoBox.isInfoVisible" (closeButtonPushed)="InfoBox.hideInfo()"
                class="warning-component" [message]="InfoBox.infoMessage">
            </info-component>
        </div>
    </div>

    <div class="content h-center">
        <div class="form-container">

            <!-- MainColor -->
            <div class="form-group col-12">
                <!-- MainColor -->
                <label for="MainColor" class="col-form-label">
                    <h6>Main Color:</h6>
                </label>
                <div class="input-row">
                    <input type="color" [(ngModel)]="color" (ngModelChange)="colorChanged()" name="MainColor"
                        class="input-block-level form-control " placeholder="MainColor" required />
                    <input type="button" class="btn btn-large btn-warning" (click)="reset()" value="Reset" />
                </div>
            </div>

            <br />
            <div class="submit-btn-container col-12">
                <input type="button" (click)="save()" class="btn btn-large btn-success" value="Save" />
            </div>
        </div>
    </div>
</div>