<aside class="sidebar" [ngClass]="{'collapsed': isSidebarCollapsed}">

    <div class="sidebar-content">
        <a id="btn-collapse" class="sidebar-collapser" (click)="onCollapserClick()">
            <i class="fa-solid fa-chevron-left"></i>
        </a>

        <div class="sidebar-header">
            <div class="header-content">
                <div class="logo-box">
                    <span class="logo">{{Logo}}</span>
                </div>
                <div class="ticker-wrapper" #gratitudeEl>
                    <h4 [ngClass]="{'ticker': isGratitudeElOverflown}" [attr.data-duplicate]="Gratitude">{{Gratitude}}
                    </h4>
                </div>

            </div>

        </div>
        <hr />
        <ul class="menu">
            <li>
                <div class="menu-item"
                    [routerLink]="['/menus/menu/testmenu/tests/', { outlets: { primary: 'list', nav: null } }]">
                    <i class="menu-icon fa-solid fa-list"></i>
                    <span>Tests</span>
                </div>
            </li>
            <li>
                <div class="menu-item" (click)="onAccountSubMenuClick()">
                    <i class="menu-icon fa-solid fa-user-gear"></i>
                    <span class="sub-menu-btn" [ngClass]="{'open': !isAccountSubMenuCollapsed}">Account
                        <i class="fa-solid fa-chevron-right"></i>
                    </span>
                </div>

                <ul class="sub-menu" *ngIf="!isAccountSubMenuCollapsed" [@expandOnEnter] [@collapseOnLeave]>
                    <li>
                        <div class="menu-item" [routerLink]="['/menus/menu/account/settings']">
                            <i class="menu-icon fa-solid fa-gears"></i>
                            <span>Settings</span>
                        </div>
                        <div class="menu-item" [routerLink]="['/menus/menu/account/password']">
                            <i class="menu-icon fa-solid fa-key"></i>
                            <span>Change Password</span>
                        </div>
                        <div class="menu-item" [routerLink]="['/menus/menu/account/login']">
                            <i class="menu-icon fa-solid fa-user"></i>
                            <span>Change Login</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>