<div class="page">
	<div class="header">
		<div class="h-center">
			<h4>Password Alteration</h4>
		</div>
		<hr />
		<div class="col-12 h-center">
			<warning-component [isVisible]="WarningBox.isWarningVisible" (closeButtonPushed)="WarningBox.hideWarning()"
				class="warning-component" [message]="WarningBox.warningMessage">
			</warning-component>
		</div>
		<div class="col-12 h-center">
			<info-component [isVisible]="InfoBox.isInfoVisible" (closeButtonPushed)="InfoBox.hideInfo()"
				class="warning-component" [message]="InfoBox.infoMessage">
			</info-component>
		</div>
	</div>

	<div class="content h-center">
		<div class="form-container">
			<form id="form" [formGroup]="form" (ngSubmit)="submit()" novalidate>
				<div formGroupName="Passwords">
					<!-- Passwords -->
					<div class="form-group col-12">
						<!-- Password -->
						<label for="Password" class="col-form-label">
							<h6>New password:</h6>
						</label>
						<div>
							<input type="password" name="Password" (ngModelChange)="passwordChange()"
								class="input-block-level form-control" placeholder="Password" formControlName="Password"
								required />
						</div>
					</div>
					<div class="form-group col-12">
						<alert-component [isVisible]="PasswordAlertBox.isVisible"
							(closeButtonPushed)="PasswordAlertBox.hideAlert()" [message]="PasswordAlertBox.Message">
						</alert-component>
					</div>

					<div class="form-group col-12">
						<!-- Password Confirmation-->
						<label for="ConfirmPassword" class="col-form-label">
							<h6>Confirm password:</h6>
						</label>
						<div>
							<input type="password" name="ConfirmPassword" id="ConfirmPasswordRegiser"
								(ngModelChange)="confirmPasswordChange()"
								(keydown.enter)="form.invalid ? null : submit()" class="input-block-level form-control"
								placeholder="Password" formControlName="ConfirmPassword" required />
						</div>
					</div>
					<div class="form-group col-12">
						<alert-component [isVisible]="ConfirmPasswordAlertBox.isVisible"
							(closeButtonPushed)="ConfirmPasswordAlertBox.hideAlert()"
							[message]="ConfirmPasswordAlertBox.Message">
						</alert-component>
					</div>
				</div>

				<br />
				<div class="submit-btn-container col-12">
					<input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
</div>