.item-container {
    display: block;

    border-radius: 1em;
    border: 1px solid gray;

    margin: 1em 0;
}

.item {
    width: 100%;
    min-height: 8em;
    background-color: inherit;
    border-radius: inherit;
    border: 0px;
    padding: 0;
    font-size: x-large;
}

.h-start {
    display: flex;
    justify-content: start;
}

.h-end {
    display: flex;
    justify-content: end;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------*/

.grid {
    display:grid;
    grid-template-areas: 
    "header"
    "query"
    "answers"
    "footer";
    grid-template-rows: 1fr auto auto 1fr;
}


.header {
    grid-area: header;
    margin: 0 0.5em;
}

.query {
    grid-area: query;
    margin: 0 1.5em;
}

.answers {
    grid-area: answers;
    margin: 0 1.5em;
}

.footer {
    grid-area: footer;
    margin: 0.5em;
}

/*-----------------------------*/

.answers-container{
    font-size:medium;
    margin-left: 0.5em;
}

.answer{
    margin: 0.5em 0;
}

.check-label{
    margin: 0  0.5em;
}

/*-----------------------------*/
.settings-dots{
    color: gray;
    cursor: default;
}

.settings-dots:hover {
    color: black;
}

.setings-container {
    position:relative;
}

.setings {

    position: absolute;
    top: 1em;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 0;
    font-size: large;
    z-index: 10;
    ;
}

.setings ul {
    list-style: none;
    border-radius: inherit;
    padding: 0;
    margin: 0;
}

.setings ul li:first-child{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.setings ul li:last-child{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.setings ul li{
    display: block;
    padding: 0.5em;
    margin: 0;
    text-decoration: none;
}

.setings ul li:hover:not(.delete-btn){
    background-color: lightgray;
    color: blue;
    cursor: pointer;

}

.setings ul li.delete-btn:hover{
    background-color: lightgray;
    color: red;
    cursor: pointer;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.visible {
    opacity: 1;
    visibility: visible;
}