<div class="page">

    <div class="header">
        <div class=" h-center">
            <warning-component [ngClass]="{visible: isWarningVisible, invisible: !isWarningVisible}"
                (closeButtonPushed)="hideWarning()" class="col-12 warning-component" [message]="warningMessage">
            </warning-component>
        </div>
        <div class=" h-center">
            <info-component [ngClass]="{visible: isInfoVisible, invisible: !isInfoVisible}"
                (closeButtonPushed)="hideInfo()" class="col-12 warning-component" [message]="infoMessage">
            </info-component>
        </div>

    </div>

    <div class="content h-center">
        <div class="form-container">
            <form id="form" [formGroup]="form" (ngSubmit)="submit()" novalidate>

                <div class="form-group col-12">
                    <div class="alert alert-danger form-block" role="alert" #alertCommonDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Query -->
                    <label for="Query" class="col-form-label">
                        <h6>*Query:</h6>
                    </label>
                    <div>
                        <textarea (ngModelChange)="onQueryChange()" formControlName="Query" type="text"
                                    class="input-block-level form-control" placeholder="Query" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Query Alert-->
                    <div class="alert alert-danger" role="alert" #alertQueryDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Question Type -->
                    <label for="QuestionType" class="col-form-label">
                        <h6>*Question Type:</h6>
                    </label>

                    <div>
                        <select *ngIf="this.Question === null; else disabledInput" formControlName="QuestionType" class="custom-select">
                            <option value="Single Choise" selected>Single Choise</option>
                            <option value="True / False">True / False</option>
                            <option value="Short Answer">Short Answer</option>
                          </select>
                          <ng-template #disabledInput>
                            <select *ngIf="this.Question=== null; else disabledInput" formControlName="QuestionType" class="custom-select" disabled>
                                <option value="Single Choise" selected>Single Choise</option>
                                <option value="True / False">True / False</option>
                                <option value="Short Answer">Short Answer</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Difficulty -->
                    <label class="col-form-label">
                        <h6>*Difficulty:</h6>
                    </label> 
                    <div>
                        <input formControlName="Difficulty" type="number" class="input-block-level form-control"
                        (ngModelChange)="onDifficultyChange()" step="0.01" placeholder="1" min="-10" max="10" required>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Difficulty Alert-->
                    <div class="alert alert-danger" role="alert" #alertDifficultyDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Discrimination -->
                    <label class="col-form-label">
                        <h6>Discrimination:</h6>
                    </label> 
                    <div>
                        <input formControlName="Discrimination" type="number" class="input-block-level form-control"
                        (ngModelChange)="onDiscriminationChange()" step="0.01" placeholder="1" min="0.001" max="20">
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Discrimination Alert-->
                    <div class="alert alert-danger" role="alert" #alertDiscriminationDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Pseudo-Guessing -->
                    <label class="col-form-label">
                        <h6>Pseudo-Guessing:</h6>
                    </label> 
                    <div>
                        <input formControlName="PseudoGuessing" type="number" class="input-block-level form-control"
                        (ngModelChange)="onPseudoGuessingChange()" step="0.001" placeholder="1" min="0" max="1">
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Pseudo-Guessing -->
                    <div class="alert alert-danger" role="alert" #alertPseudoGuessingDiv hidden>
                    </div>
                </div>
                
                <br>
                <div class="submit-btn-container col-12">
                    <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Save">
                </div>
            
            </form>
        </div>
    </div>


</div>