<div class="popup" [ngClass]="{visible: isVisible, invisible: !isVisible}">

    <form [formGroup]="form" (ngSubmit)="submit()" id="form" class="form-signin col-8" novalidate>

        <div class="header col-12">
            <h2 class="form-signin-heading">Confirm password</h2>
            <a (click)="close();" class="close">+</a>
        </div>

        <br>
        <div class="form-group col-12">
            <!-- Password -->
            <input formControlName="Password" type="password" name="Password" class="input-block-level form-control"
                (ngModelChange)="onPasswordChange()" placeholder="Password" required>

        </div>
        <div class="form-group col-12">
            <!-- Password Alert-->
            <div class="alert alert-danger" role="alert" #alertPasswordDiv hidden>
            </div>
        </div>
        <br>
        <div class="submit-btn-container col-12">
            <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Confirm" />
        </div>

    </form>

</div>