.carousel-container {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination-carousel {
  margin: 0;
  padding: 5px;
  text-align: center;
}

ul.pagination-carousel li {
  display: inline;
  margin: 0 0.5em;
}

ul.pagination-carousel li:hover {
  color: $bs-color;
  text-decoration: underline;
  cursor: pointer;
}
