@import './styles.scss';

@mixin gradient-border($width: $border-width, $radius: $border-radius) {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: calc(-1 * $width);
    left: calc(-1 * $width);
    z-index: -1;
    width: calc(100% + $width * 2);
    height: calc(100% + $width * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: $radius;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/*------------------------------------*/

@mixin bg-animation($duration: 15s, $opacity: 1, $size: 800%) {
  background: radial-gradient(
    circle,
    rgba(252, 176, 69, $opacity) 25%,
    rgba(231, 60, 126, $opacity) 50%,
    rgba(35, 165, 213, $opacity) 75%,
    rgba(50, 215, 35, $opacity) 100%
  );
  background-size: $size $size;
  animation: gradient $duration ease infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  20% {
    background-position: 25% 25%;
  }
  40% {
    background-position: 25% 75%;
  }
  60% {
    background-position: 75% 25%;
  }
  80% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/*------------------------------------*/

@keyframes swing {
  0%,
  30%,
  50%,
  70%,
  100% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}

/*------------------------------------*/

.ticker {
  animation: ticker 7s infinite linear forwards;
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
