@import 'themes';
@import 'footer';
@import 'border';
@import 'pagination';
@import 'loader';
@import 'scrollbar';

body {
  background-color: $bs-body-bg-color;
  color: $bs-font-color;

  hr {
    border-color: $bs-secondary-translucent;
  }

  input:not([type='submit'], [type='button'], [type='reset']),
  textarea,
  select {
    &,
    &:focus {
      @include color-secondary;
    }

    &::placeholder {
      color: $bs-font-secondary;
      opacity: 0.8;
    }

    &[disabled],
    &[readonly] {
      background-color: $bs-bg-tertiary;
      opacity: 1;
    }
  }
}

.background {
  background: linear-gradient(135deg, $bs-secondary-translucent 25%, transparent 25%) -27px 0/ 54px
      54px,
    linear-gradient(225deg, $bs-secondary 25%, transparent 25%) -27px 0/ 54px 54px,
    linear-gradient(315deg, $bs-secondary-translucent 25%, transparent 25%) 0px 0/ 54px 54px,
    linear-gradient(45deg, $bs-secondary 25%, $bs-body-bg-color 25%) 0px 0/ 54px 54px;
}

@mixin bg-translucent {
  background-color: $bs-bg-color-translucent;
  backdrop-filter: blur(2px);
}

/*---------------------------------*/
.h-start {
  display: flex;
  justify-content: flex-start;
}

.h-center {
  display: flex;
  justify-content: center;
}

.h-end {
  display: flex;
  justify-content: flex-end;
}

/*-----------------------------------*/

.warning-component {
  width: 100%;
  padding: 0;
}

/*---------------------------------*/

.invisible {
  opacity: 0;
  display: none !important;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
