<div class="navigation">
  <ul class="nav" #menuEl>
    <li (click)="onMenuItemClick($event)" [routerLink]="['/menus/menu/testmenu/test', testId, 'settings']">
      Basic Settings
    </li>
    <li (click)="onMenuItemClick($event)" [routerLink]="['/menus/menu/testmenu/test', testId, 'questionsmanager']">
      Questions Manager
    </li>
    <li (click)="onMenuItemClick($event)" [routerLink]="['/menus/menu/testmenu/test', testId, 'testaccess']">
      Test Access
    </li>
    <li (click)="onMenuItemClick($event)" [routerLink]="['/menus/menu/testmenu/test', testId, 'testresults']">
      Results
    </li>
    <li class="slider" #sliderEl></li>
  </ul>
</div>