<div class="navigation">
    <div class="btn-group nav" role="group">
        <button type="button" class="btn btn-light" (click)="activateBtn('AccountSettings')"
            [ngClass]="{active: this.isBtnActive['AccountSettings']}"
            [routerLink]="['./', { outlets: { primary: ['settings'] } }]">
            Account Settings</button>

        <button type="button" class="btn btn-light" (click)="activateBtn('ChangeLogin')"
            [ngClass]="{active: this.isBtnActive['ChangeLogin']}"
            [routerLink]="['./', { outlets: { primary: ['login'] } }]">
            Change Login</button>

        <button type="button" class="btn btn-light" (click)="activateBtn('ChangePassword')"
            [ngClass]="{active: this.isBtnActive['ChangePassword']}"
            [routerLink]="['./', { outlets: { primary: ['password'] } }]">
            Change Password</button>


    </div>
</div>
<router-outlet></router-outlet>