<div class="page" [@fadeInOnEnter]>

    <div class="header">
        <div class="col-12 h-center">
            <warning-component [isVisible]="WarningBox.isWarningVisible" (closeButtonPushed)="WarningBox.hideWarning()"
                class="warning-component" [message]="WarningBox.warningMessage">
            </warning-component>
        </div>
        <div class="col-12 h-center">
            <info-component [isVisible]="InfoBox.isInfoVisible" (closeButtonPushed)="InfoBox.hideInfo()"
                class="warning-component" [message]="InfoBox.infoMessage">
            </info-component>
        </div>

    </div>

    <div class="content h-center">
        <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="submit()" id="form" novalidate>

                <div class="form-group col-12">
                    <div class="alert alert-danger form-block" role="alert" #alertCommonDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Name -->
                    <label for="Name" class="col-form-label">
                        <h6>*Name:</h6>
                    </label>
                    <div>
                        <input formControlName="Name" type="text" name="Name" class="input-block-level form-control"
                            (ngModelChange)="onNameChange()" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Name Alert-->
                    <div class="alert alert-danger" role="alert" #alertNameDiv hidden>
                    </div>
                </div>


                <div class="form-group col-12">
                    <!-- Description -->
                    <div class=" card">
                        <div class="card-header" id="headingDescription">
                            <button class="btn btn-collapse btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseDescription" aria-expanded="true"
                                aria-controls="collapseDescription">
                                <label class="col-form-label">
                                    <h6>Description:</h6>
                                </label>
                            </button>
                        </div>
                        <div id="collapseDescription" class="collapse show" aria-labelledby="headingDescription">
                            <div class="card-body textarea-container">
                                <textarea formControlName="Description" type="text"
                                    class="input-block-level form-control" placeholder="Description">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Description Alert-->
                    <div class="alert alert-danger" role="alert" #alertDescriptionDiv hidden>
                    </div>
                </div>

                <div class="form-group col-12 switch-container">
                    <!-- Is Access Open -->
                    <div class="custom-control custom-switch">
                        <input formControlName="IsAccessOpen" type="checkbox" class="custom-control-input"
                            id="SwitchIsAccessOpen">
                        <label class="custom-control-label" for="SwitchIsAccessOpen">
                            <h6>*Open Access</h6>
                        </label>
                    </div>
                </div>


                <div class="form-group col-12">
                    <!-- Variants Number -->
                    <label class="col-form-label">
                        <h6>*Variants Number:</h6>
                    </label>
                    <div>
                        <input *ngIf="this.Test === null; else disabledInput" formControlName="NumberOfVariants"
                            type="number" class="input-block-level form-control"
                            (ngModelChange)="onNumberOfVariantsChange()" placeholder="1" min="1" max="100" required>

                        <ng-template #disabledInput>
                            <input formControlName="NumberOfVariants" type="number"
                                class="input-block-level form-control" (ngModelChange)="onNumberOfVariantsChange()"
                                placeholder="1" min="1" max="100" disabled required>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Variants Number Alert-->
                    <div class="alert alert-danger" role="alert" #alertNumberOfVariantsDiv hidden>
                    </div>
                </div>


                <div class="form-group col-12">
                    <!-- Duration -->
                    <div class=" card">
                        <div class="card-header" id="headingDuration">
                            <button class="btn btn-collapse btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseDuration" aria-expanded="true" aria-controls="collapseDuration">

                                <label class="col-form-label">
                                    <h6>Duration:</h6>
                                </label>
                            </button>
                        </div>

                        <div id="collapseDuration" class="collapse show" aria-labelledby="headingDuration">
                            <div class="card-body">

                                <div formGroupName="Duration" class="form-row ">
                                    <label class="col-2 col-form-label">Hours:</label>
                                    <div class="col-sm-4">
                                        <input formControlName="Hours" type="number" id="TestHours"
                                            class="input-block-level form-control" placeholder="0" min="0" max="24">
                                    </div>
                                    <label class="col-2 col-form-label">Minutes:</label>
                                    <div class="col-sm-4">
                                        <input formControlName="Minutes" type="number" id="TestMinutes"
                                            class="input-block-level form-control" placeholder="0" min="0" max="59">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Duration Alert-->
                    <div class="alert alert-danger form-block " role="alert" #alertDurationDiv hidden>
                    </div>
                </div>


                <div class="form-group col-12">
                    <!-- Time -->
                    <div class=" card">
                        <div class="card-header" id="headingTime">
                            <button class="btn btn-collapse btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseTime" aria-expanded="true" aria-controls="collapseTime">

                                <label class="col-form-label">
                                    <h6>Time:</h6>
                                </label>
                            </button>
                        </div>

                        <div id="collapseTime" class="collapse show" aria-labelledby="headingTime">
                            <div class="card-body">

                                <div formGroupName="Time" class="form-row ">
                                    <label class="col-2 col-form-label">Opening Time:</label>
                                    <div class="col-sm-4">
                                        <input formControlName="OpeningTime" class="input-block-level form-control"
                                            (ngModelChange)="onTimeChange()" type="datetime-local"
                                            min="1970-01-01T00:00" max="2030-01-01T00:00">
                                    </div>
                                    <label class="col-2 col-form-label">Closure Time:</label>
                                    <div class="col-sm-4">
                                        <input (ngModelChange)="onTimeChange()" formControlName="ClosureTime"
                                            class="input-block-level form-control" type="datetime-local"
                                            min="1970-01-01T00:00" max="2030-01-01T00:00">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Time Alert-->
                    <div class="alert alert-danger form-block " role="alert" #alertTimeDiv hidden>
                    </div>
                </div>

                <br>
                <div class="submit-btn-container col-12">
                    <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success"
                        id="btnTestPostForm" value="Save">
                </div>

            </form>
        </div>
    </div>


</div>