<div class="page" [@fadeInOnEnter]>

    <div class="header">
        <div class="col-12 h-center">
            <warning-component [isVisible]="WarningBox.isWarningVisible" (closeButtonPushed)="WarningBox.hideWarning()"
                class="warning-component" [message]="WarningBox.warningMessage">
            </warning-component>
        </div>
        <div class="col-12 h-center">
            <info-component [isVisible]="InfoBox.isInfoVisible" (closeButtonPushed)="InfoBox.hideInfo()"
                class="warning-component" [message]="InfoBox.infoMessage">
            </info-component>
        </div>

    </div>

    <div class="content h-center">
        <div class="form-container">
            <form id="form" [formGroup]="form" (ngSubmit)="submit()" novalidate>

                <div class="form-group col-12">
                    <!-- Query -->
                    <label for="Query" class="col-form-label">
                        <h6>*Query:</h6>
                    </label>
                    <div>
                        <textarea (ngModelChange)="onQueryChange()" formControlName="Query" type="text"
                            class="input-block-level form-control" placeholder="Query" required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Query Alert-->
                    <alert-component [isVisible]="QueryAlertBox.isVisible"
                        (closeButtonPushed)="QueryAlertBox.hideAlert()" class="warning-component"
                        [message]="QueryAlertBox.Message">
                    </alert-component>
                </div>

                <div class="form-group col-12">
                    <!-- Question Type -->
                    <label for="QuestionType" class="col-form-label">
                        <h6>*Question Type:</h6>
                    </label>

                    <div>
                        <select *ngIf="this.Question === null; else disabledInput" formControlName="QuestionType"
                            class="custom-select">
                            <option value="Single Choise" selected>Single Choise</option>
                            <option value="True / False">True / False</option>
                            <option value="Short Answer">Short Answer</option>
                        </select>
                        <ng-template #disabledInput>
                            <select formControlName="QuestionType" class="custom-select" [attr.disabled]="true">
                                <option value="Single Choise" selected>Single Choise</option>
                                <option value="True / False">True / False</option>
                                <option value="Short Answer">Short Answer</option>
                            </select>
                        </ng-template>
                    </div>
                </div>

                <div class="form-group col-12">
                    <!-- Difficulty -->
                    <label class="col-form-label">
                        <h6>*Difficulty:</h6>
                    </label>
                    <div>
                        <input formControlName="Difficulty" type="number" class="input-block-level form-control"
                            (ngModelChange)="onDifficultyChange()" step="0.01" placeholder="1" min="-10" max="10"
                            required>
                    </div>
                </div>
                <div class="form-group col-12">
                    <!-- Difficulty Alert-->
                    <alert-component [isVisible]="DifficultyAlertBox.isVisible"
                        (closeButtonPushed)="DifficultyAlertBox.hideAlert()" class="warning-component"
                        [message]="DifficultyAlertBox.Message">
                    </alert-component>
                </div>

                <br>
                <div class="submit-btn-container col-12">
                    <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Save">
                </div>

            </form>
        </div>
    </div>

</div>