@import '../../../styles/styles.scss';

.info {
  display: flex;
  justify-content: space-between;
}

.bg-dark-theme {
  background-color: lighten($info, 20%);
}

.close {
  text-decoration: none;
  transform: rotate(45deg);

  height: fit-content;
  width: fit-content;
}

.close:hover {
  color: red;
  cursor: pointer;
}
