<div class="page">
    <div class="header h-center">
        <div class="input-group col-9">
            <div class="input-group-prepend">
                <button (click)="searchItems()" class="input-group-text" id="btnSearch">Search</button>
            </div>
            <input [(ngModel)]="searchLine" (ngModelChange)="onSearchLineEmpty()" id="searchLine" type="text"
                class="form-control" placeholder="Example">
        </div>
    </div>

    <div class="outer content">

        <div class="h-center">
            <div id="Alert" class="alert alert-danger col-10" #alertDiv hidden>
            </div>
        </div>
    
        <warning-component [ngClass]="{visible: isWarningVisible, invisible: !isWarningVisible}"
            (closeButtonPushed)="hideWarning()" class="h-center msg-box" [message]="warningMessage">
        </warning-component>

        <div class="grid" >
            <div class="item">
                <button class="add-item" tabindex="-1">
                    +
                </button>
            </div>
            <test-list-item-component *ngFor="let item of itemsPaginated" [item]="item"
                (deleteButtonPushed)="deleteItem($event)">
            </test-list-item-component>
        </div>
    </div>

    <div class="footer">
        <div class="carousel-container">
            <ul class=" pagination-carousel">
                <li (click)="previous()"> Prev </li>
                <li> {{CurrentPage}} </li>
                <li (click)="next()"> Next </li>
            </ul>
        </div>
    </div>
</div>