<div class="page">
    <div class="header h-center">
        <div class="input-group col-9">
            <div class="input-group-prepend">
                <button class="input-group-text" id="btnSearch">Search</button>
            </div>
            <input id="searchLine" type="text" class="form-control" placeholder="Example">
        </div>
    </div>

    <div class="outer content">
        <div class="grid">
            <div class ="item">
                <button class="add-item" tabindex="-1">
                    +
                </button>
            </div>
            <test-list-item-component *ngFor="let item of itemsPaginated" [item]="item">
            </test-list-item-component>
        </div>
    </div>

    <div class="footer">
        <div class="carousel-container">
            <ul class=" pagination-carousel">
                <li> Prev </li>
                <li> Page </li>
                <li> Next </li>
            </ul>
        </div>
    </div>
</div>