<div class="page">
    <div class="header h-center">
        <div class="input-group col-9">
            <div class="input-group-prepend">
                <button (click)="searchItems()" class="input-group-text" id="btnSearch">Search</button>
            </div>
            <input [(ngModel)]="searchLine" (ngModelChange)="onSearchLineEmpty()" id="searchLine" type="text"
                class="form-control" placeholder="Name">
        </div>
    </div>

    <div class="outer content">
        <div class="h-center">
            <div id="Alert" class="alert alert-danger col-10" #alertDiv hidden>
            </div>
        </div>
        <div class="h-center">
            <warning-component [isVisible]="isWarningVisible" (closeButtonPushed)="hideWarning()"
                class="col-10 warning-component" [message]="warningMessage">
            </warning-component>
        </div>
        <div class="h-center">
            <info-component [isVisible]="isInfoVisible" (closeButtonPushed)="hideInfo()"
                class="col-10 warning-component" [message]="infoMessage">
            </info-component>
        </div>

        <div class="grid">
            <div class="item">
                <button
                    [routerLink]="['../../', 'test',  0 ,{ outlets: { primary: ['settings'], nav: ['testmenunav'] } }]"
                    class="add-item" tabindex="-1">
                    +
                </button>
            </div>
            <test-list-item-component *ngFor="let item of itemsPaginated" [item]="item"
                (deleteButtonPushed)="deleteItem($event)">
            </test-list-item-component>
            <div *ngIf="!itemsPaginated && isLoading" class="loading">
                <div class="spinner-border text-primary " role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="carousel-container">
            <ul class=" pagination-carousel">
                <li (click)="previous()"> Prev </li>
                <li> {{CurrentPage}} </li>
                <li (click)="next()"> Next </li>
            </ul>
        </div>
    </div>
</div>