.page {
  display: grid;
  grid-template-areas:
    '. . .'
    '. form .'
    '. delimeter .'
    '. list .'
    '. . .';
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1.5em auto 1.5em 1fr 1em;
}

.form {
  grid-area: form;
  margin: 0 1em;
  padding: 0;
}

.delimeter {
  grid-area: delimeter;
  margin: 1em calc(1em + 15px);

  &hr {
    width: 100%;
  }
}

.list {
  grid-area: list;
  margin: 0 1em;
  padding: 0;
}

/*------------------------------------*/

.loading {
  margin: 2em;
}

/*------------------------------------*/

.answer-input {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

.answer-input input {
  margin: 0 1em;
}

.answer-input input:first-child {
  margin-left: 0;
}

.answer-input input:last-child {
  margin-right: 0;
}

/*------------------------------------*/

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

/*------------------------------------*/

.warning-component {
  width: 100%;
  padding: 0;
}
