@import '../../../../styles/styles.scss';

.page {
  display: grid;
  grid-template-areas:
    '. . .'
    '. header .'
    '. . .'
    '. content .'
    '. . .';
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1.5em auto 1.5em 1fr 1em;
}

@mixin indent {
  margin: 0 1em;
  padding: 0;
}

.header {
  grid-area: header;
  @include indent;
}

.content {
  grid-area: content;
  @include indent;
}

/*-----------------------------------*/

.form-container {
  width: 100%;
}

/*-----------------------------------*/

input.ng-touched.ng-invalid.ng-dirty,
div.ng-touched.ng-invalid.ng-dirty input.ng-touched.ng-dirty {
  border: solid red 1px;
}

/*-----------------------------------*/

.form-group .card {
  margin-top: 2em;
}

.card-header {
  padding-left: 0;
  padding-right: 0;

  background-color: $bs-bg-color;

  label {
    color: $bs-font-color;
  }
}

.card-body {
  @include color-secondary;

  &.switch-container {
    padding-top: 1em;
  }

  &.textarea-container {
    padding: 0;

    textarea {
      border: 0;
      @include color-secondary;

      &::placeholder {
        color: $bs-font-secondary;
        opacity: 0.8;
      }
    }
  }
}

.btn-collapse {
  padding: 0;

  &:hover label {
    cursor: pointer;
    color: $bs-color;
  }

  h6 {
    margin: 0;
  }
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.col-form-label {
  padding-left: 0.75rem;
}
