<div id="LoginDiv" class="container-narrow">
  <form
    [formGroup]="form"
    id="LoginForm"
    class="form-signin col-10"
    (ngSubmit)="submit()"
    novalidate
  >
    <h2 id="SendLoginFormLabel" class="form-signin-heading">Sign in</h2>
    <br />
    
    <div class="form-block col-sm-12">
      <div class="alert alert-danger form-block" role="alert" #alertCommonDiv hidden></div>
    </div>
    <div class="form-block">
      <label for="Login" class="col-sm-2 col-form-label">Login:</label>
      <div class="col-sm-12">
        <input
          type="text"
          name="Login"
          id="LoginLogin"
          class="input-block-level form-control"
          placeholder="Login"
          formControlName="Login"
          (ngModelChange)="loginChange()"
          required
        />
      </div>
    </div>
    <div class="form-block col-sm-12">
      <div
        id="AlertLogin"
        class="alert alert-danger form-block"
        role="alert"
        #alertLoginDiv
        hidden
      ></div>
    </div>

    <div class="form-block">
      <label for="Password" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-sm-12">
        <input
          type="password"
          name="Password"
          id="PasswordLogin"
          class="input-block-level form-control"
          placeholder="Password"
          formControlName="Password"
          (ngModelChange)="passwordChange()"
          required
        />
      </div>
    </div>
    <div class="form-block col-sm-12">
      <div class="alert alert-danger form-block" role="alert" #alertPasswordDiv hidden></div>
    </div>
    <br />
    <input
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-large btn-success"
      id="btnLoginForm"
      value="Sign in"
    />
  </form>
</div>
