<div>
    <form [formGroup]="form" class="form col-10" (ngSubmit)="submit()" novalidate>
        <h2 class="col-12">Sign in</h2>
        <br />

        <div class="form-block col-12">
            <alert-component [isVisible]="CommonAlertBox.isVisible" (closeButtonPushed)="CommonAlertBox.hideAlert()"
                [message]="CommonAlertBox.Message">
            </alert-component>
        </div>

        <div class="form-block">
            <label for="Login" class="col-2 col-form-label">Login:</label>
            <div class="col-12">
                <input type="text" name="Login" class="input-block-level form-control" placeholder="Login"
                    formControlName="Login" (ngModelChange)="loginChange()" required />
            </div>
        </div>
        <div class="form-block col-12">
            <alert-component [isVisible]="LoginAlertBox.isVisible" (closeButtonPushed)="LoginAlertBox.hideAlert()"
                [message]="LoginAlertBox.Message">
            </alert-component>
        </div>

        <div class="form-block">
            <label for="Password" class="col-2 col-form-label">Password:</label>
            <div class="col-12">
                <input type="password" name="Password" class="input-block-level form-control" placeholder="Password"
                    formControlName="Password" (ngModelChange)="passwordChange()"
                    (keydown.enter)="form.invalid ? null : submit()" required />
            </div>
        </div>
        <div class="form-block col-12">
            <alert-component [isVisible]="PasswordAlertBox.isVisible" (closeButtonPushed)="PasswordAlertBox.hideAlert()"
                [message]="PasswordAlertBox.Message">
            </alert-component>
        </div>

        <br />
        <div class="submit-btn-container col-12">
            <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Sign in" />
        </div>

    </form>
</div>