<div class="navigation">
  <div class="btn-group nav" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light" (click)="activateBtn('BasicSettings')"
      [ngClass]="{active: this.isBtnActive['BasicSettings']}"
      [routerLink]="['/menus/menu/testmenu/test', testId, 'settings']">Basic Settings</button>
    <button type="button" class="btn btn-light" (click)="activateBtn('QuestionsManager')"
      [ngClass]="{active: this.isBtnActive['QuestionsManager']}"
      [routerLink]="['/menus/menu/testmenu/test', testId, 'questionsmanager']">Questions Manager</button>
    <button type="button" class="btn btn-light" (click)="activateBtn('TestAccess')"
      [ngClass]="{active: this.isBtnActive['TestAccess']}"
      [routerLink]="['/menus/menu/testmenu/test', testId, 'testaccess']">Test Access</button>
    <button type="button" class="btn btn-light" (click)="activateBtn('Results')"
      [ngClass]="{active: this.isBtnActive['Results']}"
      [routerLink]="['/menus/menu/testmenu/test', testId, 'testresults']">Results</button>
  </div>
</div>