<div class="page" [@fadeInOnEnter]>

    <div class="header">

        <alert-component [isVisible]="AlertBox.isVisible" (closeButtonPushed)="AlertBox.hideAlert()"
            class="warning-component" [message]="AlertBox.Message">
        </alert-component>

    </div>

    <div class="scroll">
        <div (click)="scroller.scrollToTop(2)" class="scroll-container">
            <div class="sticky-bot scroll-btn">
                <i class="fa-solid fa-angle-up"></i> Up
            </div>
        </div>

    </div>


    <div class="content h-center">
        <questions-list-component class="list-container"
            [testVariant]="testVariants?.[CurrentPage - 1]"></questions-list-component>
    </div>

    <div class="footer">
        <pagination-carousel [CurrentPage]="CurrentPage" (prevButtonPushed)="previous()"
            (nextButtonPushed)="next()"></pagination-carousel>
    </div>


</div>