<div class="page">
    <div class="header h-center">
        <div class="col-9" [ngStyle]="{'padding': 0}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button (click)="searchItems()" class="input-group-text" id="btnSearch">Search</button>
                </div>
                <input [(ngModel)]="searchLine" (ngModelChange)="onSearchLineEmpty()" id="searchLine" type="text"
                    class="form-control" placeholder="Name">
            </div>

        </div>
    </div>

    <div class="outer content">
        <div class="h-center">
            <alert-component [isVisible]="AlertBox.isVisible" (closeButtonPushed)="AlertBox.hideAlert()"
                class="col-9 warning-component" [message]="AlertBox.Message">
            </alert-component>
        </div>
        <div class="h-center">
            <warning-component [isVisible]="WarningBox.isWarningVisible" (closeButtonPushed)="WarningBox.hideWarning()"
                class="col-9 warning-component" [message]="WarningBox.warningMessage">
            </warning-component>
        </div>
        <div class="h-center">
            <info-component [isVisible]="InfoBox.isInfoVisible" (closeButtonPushed)="InfoBox.hideInfo()"
                class="col-9 warning-component" [message]="InfoBox.infoMessage">
            </info-component>
        </div>

        <div class="grid">
            <div class="add-item">
                <button
                    [routerLink]="['../../', 'test',  0 ,{ outlets: { primary: ['settings'], nav: ['testmenunav'] } }]"
                    class="add-btn" tabindex="-1">
                    +
                </button>
            </div>
            <test-list-item-component *ngFor="let item of itemsPaginated" [item]="item"
                (deleteButtonPushed)="deleteItem($event)">
            </test-list-item-component>
            <div *ngIf="!itemsPaginated && loadingState.value" class="loading">
                <div class="spinner-border text-primary " role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="carousel-container">
            <ul class=" pagination-carousel">
                <li (click)="previous()"> Prev </li>
                <li> {{CurrentPage}} </li>
                <li (click)="next()"> Next </li>
            </ul>
        </div>
    </div>
</div>