<div class="page">

    <div  *ngIf="isTestRunning" class="header ">
        <div class="h-center">
            <h4 class="timer">{{TimerStr}}</h4>
        </div>
        <hr/>
    </div>

    <div class="scroll">
        <div (click)="scrollToTop(2)" class="scroll-container" [ngClass]="{visible: isTestRunning, invisible: !isTestRunning}">
            <div class="sticky-bot scroll-btn">
                <i class="fa-solid fa-angle-up"></i> Up
            </div>
        </div>
        
    </div>

    <div class="content">
        <div *ngIf="isTestRunning; else preview">
            <question *ngFor="let item of itemsPaginated; let i = index" [Question]="item" [Index]="(CurrentPage - 1) * NumberOfElemsOnPage + i"></question>
            <div class="submit-btn-container">
                <input (click)="submit()" type="submit" class="btn btn-large btn-success" id="btnTestPostForm" value="Send">
            </div>
        </div>
        <ng-template #preview>
           
                <div class="item-container">
                    <div class="item grid">
                
                        <div class="test-name h-center">
                            <p>
                                {{Test?.name || 'No name'}}
                            </p>
                        </div>

                        <div class="duration h-start">
                            <p *ngIf="Test?.duration">
                                <b>Duration:</b> {{Test?.duration}}
                            </p>
                        </div>

                        <div class="opening h-start">
                            <p *ngIf="OpeningTimeStr">
                                <b>Opening:</b> {{OpeningTimeStr}}
                            </p>
                        </div>

                        <div class="closure h-start">
                            <p *ngIf="ClosureTimeStr">
                                <b>Closure:</b> {{ClosureTimeStr}}
                            </p>
                        </div>

                         <div class="status h-start">
                            <p>
                                <b>Status: </b> 
                                <span [ngStyle]="{'line-height': 'unset'}" class="badge" [ngClass]="LabelClasses">{{Status}}</span>
                            </p>
                        </div>
                
                        <div  class="button">
                            <div class="button-container h-center">
                                
                                <button (click)="startTest()" [disabled]="!isOpened" type="button" class="btn btn-success">Start</button>
                                
                            </div>
                        </div>
                
                    </div>
                </div>
           
        </ng-template>
    </div>

    <div *ngIf="isTestRunning" class="footer">
        <div class="carousel-container">
            <ul class=" pagination-carousel">
                <li (click)="toPrevPage()"> Prev </li>
                <li> {{CurrentPage}} </li>
                <li (click)="toNextPage()"> Next </li>
            </ul>
        </div>
    </div>

</div>