@import '../../../../styles/styles.scss';

.page {
  min-height: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    ' . . . scroll'
    ' . header . scroll'
    ' . . . scroll'
    ' . content . scroll'
    ' . . . scroll'
    ' . footer . scroll'
    ' . . . scroll';
  grid-template-columns: 2fr 5fr 1fr 1fr;
  grid-template-rows: 1.5em auto 1.5em 1fr 1.5em auto 1em;
}

@mixin page-indent {
  margin: 0 1em;
  padding: 0;
}

.header {
  grid-area: header;
  @include page-indent;
  font-size: medium;
}

.content {
  grid-area: content;
  @include page-indent;
}

.scroll {
  grid-area: scroll;
}

.footer {
  grid-area: footer;
  @include page-indent;
}

/*-------------------------------*/
.scroll-container {
  height: 100%;

  @extend .h-end;

  flex-direction: column;

  padding: 0.1px;

  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  color: $bs-font-secondary;
  opacity: 0.6;

  &:hover {
    opacity: 1;
    background: $bs-bg-secondary-translucent;
  }
}

.scroll-container p {
  font-size: xx-large;
  margin: 1em auto;
}

.scroll-btn {
  font-weight: 500;
  font-style: normal;
  font-size: 2em;

  padding: 5px;
}

.sticky-bot {
  position: sticky;
  bottom: 3em;

  align-self: center;
}

/*-----------------------------*/

.loading {
  @extend .h-center;
  align-items: center;
  height: 100%;
  margin: 0.5em;
}

/*-----------------------------*/

.submit-btn-container {
  @extend .h-end;
}

/*-----------------------------*/

.item.grid {
  display: grid;
  grid-template-areas:
    '.'
    'test-name'
    'duration'
    'opening'
    'closure'
    'status'
    'button'
    '.';
  grid-template-rows: 1em auto auto auto auto auto auto 1em;
}

@mixin item-grid-indent {
  margin: 0 1.5em;
  white-space: normal;
}

.test-name {
  grid-area: test-name;
  @include item-grid-indent;
}

.duration {
  grid-area: duration;
  @include item-grid-indent;
  font-size: medium;
}

.opening {
  grid-area: opening;
  @include item-grid-indent;
  font-size: medium;
}

.closure {
  grid-area: closure;
  @include item-grid-indent;
  font-size: medium;
}

.status {
  grid-area: status;
  @include item-grid-indent;
  font-size: medium;
}

.button {
  grid-area: button;
  margin: 0 1.5em;
}

.item-container {
  display: block;
  @include border;
  margin: 1em 0;
}

.item {
  width: 100%;
  min-height: 8em;

  @include color-primary;
  border-radius: inherit;
  border: 0px;
  padding: 0;
  font-size: x-large;
}

.button-container {
  font-size: medium;
  margin-left: 0.5em;
  margin: 0.5em 0;
}
