.page{
    min-height: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: ". . ."
                        ". header ."
                        ". . ."
                        ". content ."
                        ". . ."
                        ". footer ."
                        ". . .";
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1.5em auto 1.5em 1fr 1.5em auto 1em;
    
}

.header {
    grid-area: header;
    margin: 0 1em;
    padding: 0;

    font-size: medium;
}

.content {
    grid-area: content;
    margin: 0 1em;
    padding: 0;
}

.footer {
    grid-area: footer;
    margin: 0 1em;
    padding: 0;
}

/*-------------------------------*/

.carousel-container{
    
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pagination-carousel{
    margin: 0;
    padding: 5px;
    text-align: center;
}

ul.pagination-carousel li{
    display: inline;
    margin: 0 0.5em;
}

ul.pagination-carousel li:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;

}


/*-----------------------------*/

.submit-btn-container {
    display: flex;
    justify-content: end;
}

/*-----------------------------*/

.item.grid {
    display:grid;
    grid-template-areas: 
    "."
    "test-name"
    "duration"
    "opening"
    "closure"
    "button"
    ".";
    grid-template-rows: 1em auto auto auto auto auto 1em;
}

.test-name {
    grid-area: test-name ;
    margin: 0 1.5em;

    white-space: normal;
}

.duration {
    grid-area: duration;
    margin: 0 1.5em;
    white-space: normal;

    font-size: medium;
}

.opening {
    grid-area: opening;
    margin: 0 1.5em;
    white-space: normal;

    font-size: medium;
}

.closure {
    grid-area: closure;
    margin: 0 1.5em;
    white-space: normal;

    font-size: medium;
}


.button {
    grid-area: button;
    margin: 0 1.5em;
}


.item-container {
    display: block;

    border-radius: 1em;
    border: 1px solid gray;

    margin: 1em 0;
}

.item {
    width: 100%;
    min-height: 8em;
    background-color: inherit;
    border-radius: inherit;
    border: 0px;
    padding: 0;
    font-size: x-large;
}

.h-start {
    display: flex;
    justify-content: start;
}

.h-center {
    display: flex;
    justify-content: center;
}

.button-container{
    font-size:medium;
    margin-left: 0.5em;
    margin: 0.5em 0;
}
